
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/topNav.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/normal.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_table.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  </head>
  <body>
    <br>
    <br>

    <form method="post" action="/admin_login">
      <button type="submit" class="button_product" name="admin_permission" value="true">Влез като админ</button>
      <br>
      <br>
      <br>
      <button type="submit" class="button_product"name="admin_permission" value="false">Влез като потребител</button>
    </form>
  </body>
</html>
