
<h3 align='center'>Потвърждаване на поръчката</h3>
<% user = User.find_by user_name: session[:user_name] %>
<% order = Order.find(session[:order_id]) %>
<br>
<form method="post" action="/confirm_order" class="container" style="width: 40%">
    <div class="form-group">
        <label for="email-input">Имейл за кореспонденция</label>
        <input id="email-input"
               class="form-control"
               name="email"
               type="string"
               value="<%= user.email%>"
               readonly="readonly">
    </div>

    <div class="form-group">
        <label for="price-input">Обща цена на продуктите</label>
        <input id="price-input"
               class="form-control"
               name="price"
               type="string"
               value="<%= order.total%>лв"
               readonly="readonly">
    </div>
    <div class="form-group">
        <label for="shipping-input">Цена на доставката</label>
        <input id="shipping-input"
               class="form-control"
               name="shipping"
               type="string"
               value="<%= order.shipping%>лв"
               readonly="readonly">
    </div>
    <div class="form-group">
        <label for="adress-input">Адрес за доставка</label>
        <textarea id="adress-input"
               class="form-control"
               name="adress"
               type="text"
               rows="4"
               required></textarea>
    </div>
    <button style="margin-left:11%;margin-top:30px;font-size:17px;padding: 14px 16px; background-color:green" type="submit" value="2" name="confirm_order" class="delete_button">Завършване на поръчката</button>
</form>
