.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}


input[type=radio]{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
    width: 1em;
    height: 1em;}
