ul.normal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 50px;
}


ul.normal li {
  float: right;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.normal li a:hover{background-color: #800000;}
ul.normal li.icon {display: none;}
